//index.html

#lefttop-logo img{
  left: 0;
  top: 0;
  position: fixed;
  z-index: 9999;
  text-align: center;
}

#nav-container{
  margin-left: 5%;
  width: 88%;
}

#logo{
  font-size: 22px;
  font-family: '微軟正黑體';
  font-weight: 600;
}

#logo img{
  height: 40px;
  margin: 8px 3px 8px 3px;
}

#banner-bg-img{
  height: 250px;
  // background-image: url("../images/banner_white.jpg");
  background-position: 25% 41%;
  background-size: cover;
}

#banner-deco{
  height: 3px;
  background-color: $color-main;
}

.navbar{
  background-color: $color-main-bg;  
}

.navbar a{
  color: $color-main;
  font-weight: 600;
}
.nav > li{
  padding-top: 5px;
}

.nav > li > a:hover {
  background-color: $color-main-bg-complementary;
}

.highlight{
  min-height: 250px;
  background-color: $color-structure;
}

#catalog-nav{
  padding: 20px 10px;
  text-align: center;
  background-repeat: cover;
}

.catalog-bg{
  // background-image: url("../images/catalog.png");
}

.catalog-btn{
  font-weight: 500;
  margin: 7px;
  border-color: $color-main;
  color: $color-main;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 3px 3px 3px rgba(193, 193, 185, 0.5);
}

#catalog-nav a:hover{
  background-color: $color-main;
  color: #ffffff;
}

#status{
  padding: 50px 20px;
  padding-top: 170px;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: rgba(0, 0, 0, 0.3);
}

#status #title{
  color: white;
  font-size: 80px;
  display: inline-block;
}

#title-deco{
  color: white;
  font-size: 80px;
  display: inline-block;
}

#status button{
  margin-top: 20px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 7px;
}

#searh-bar{
  text-align: center;
}

#checks{
  font-size: 16px;
}

#real-ig{
  font-size: 28px;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
}

#hightlight #title{
  
}

#landing{
  margin-top: 0px;
  text-align: center;
}

#landing img{
  height: 260px;
  width: 260px;
}

#landing .img{
  padding: 15px 15px;
  display: inline-block;
  position: relative;
}

#landing .img .img-des{
  position: relative;
}

#stars{
  background-color: white;
  text-align: center;
  padding: 0 5%;
}

#stars #title{
  font-size: 28px;
  margin-bottom: 17px;
}

.card-wrapper{
  display: inline-block;
  position: relative;
  width: 260px;
  height: auto;
  margin: 10px;

  .card-img{
    position: relative;
    width: 260px;
    height: 170px;
    overflow: hidden;
    img{
      width: 260px;
      top: 50%;
    }
    .tag{
      position: absolute;
      font-size: 12px;
      background-color: green;
    }
  }
  .card-des{
    border: 1px solid #ddd;
    border-radius: 7px;
    border-top: 0px;
    height: auto;
    padding: 18px 20px;
    .title{
      font-size: 20px;
      margin-bottom: 5px;
    }
    hr{
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }
}

#footer{
  text-align: center;

  #footer-bg{
    background-color: white;
    text-align: center;
  }

  #footer-logo{
    text-align: center;
    padding-bottom: 25px;
    font-size: 10px;
  }

  #footer-des{
    padding-bottom: 10px;
    color: $color-main;
    font-size: 8px;
  }
}

  #time-tag{
    margin-top: 6px;
    font-size: 16px;
  }